<tr class="person">
    <td>
        <h:Literal Text="{ui:Binding ID}" />
    </td>
    <td>
        <h:Literal Text="{ui:Binding Name}" />
    </td>
    <td>
        <h:Literal Text="{ui:Binding Surname}" />
    </td>
    <td>
        <ui:action action="edit">
            <parameters>
                <ui:parameter name="ID" value="{ui:Binding ID}" />
            </parameters>
            View detail
        </ui:action>

        <ui:form action="delete" method="post">
            <parameters>
                <ui:parameter name="ID" value="{ui:Binding ID}" />
            </parameters>
            
            <button>Delete person</button>
        </ui:form>
    </td>
</tr> 