<ui:decorate Template="{ui:Template File=~/Views/Shared/Template.html}">
    <ui:content name="title">
        Editing person:
        <h:literal text=" " />
        <h:literal text="{ui:Binding Name}" />
        <h:literal text=" " />
        <h:literal text="{ui:Binding Surname}" />
    </ui:content>
    <ui:content name="body">
        <ui:form method="post">
            <ui:LabeledEditor Property="Name" />
            <ui:LabeledEditor Property="Surname" />

            <button>Save</button>
        </ui:form>
    </ui:content>
</ui:decorate>
 