<ui:decorate Template="{ui:Template File=~/Views/Shared/Template.html}">
    <ui:content name="title">List of persons</ui:content>
    <ui:content name="body">
        <ui:ListView ItemsSource="{ui:Binding}" ItemTemplate="{ui:Template File=~/Views/Home/PersonTemplate.html}" />

        
        <ui:form action="about-framework">
            <ui:LabeledEditor Property="Name" />
            <ui:LabeledEditor Property="Surname" />

            <button>Send</button>
        </ui:form>
    </ui:content>
</ui:decorate>
 