<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="neptuo.web.framework">
      <section name="components" type="Neptuo.Web.Framework.Configuration.ComponentsSection, Neptuo.Web.Framework.Implementation" />
    </sectionGroup>
  </configSections>
  <neptuo.web.framework>
    <components>
      <namespaces>
        <add prefix="h" namespace="Neptuo.Web.Framework.Controls" />
        <add namespace="Neptuo.Web.Framework.Extensions" />
        <add prefix="ui" namespace="Neptuo.Web.Framework.Composition, Neptuo.Web.Framework.Composition" />
      </namespaces>
      <observers>
        <add prefix="ui" name="visible" type="Neptuo.Web.Framework.Observers.VisibleObserver, Neptuo.Web.Framework.Implementation" />
        <add prefix="html" type="Neptuo.Web.Framework.Observers.HtmlAttributeObserver, Neptuo.Web.Framework.Implementation" />
        <add prefix="val" type="Neptuo.Web.Framework.Observers.ValidationObserver, Neptuo.Web.Framework.Implementation" />
        <add prefix="cache" type="Neptuo.Web.Framework.Observers.CacheObserver, Neptuo.Web.Framework.Implementation" />
        <add prefix="data" name="DataContext" type="Neptuo.Web.Framework.Observers.DataContextObserver, Neptuo.Web.Framework.Implementation" />
      </observers>
    </components>
  </neptuo.web.framework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>