<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <sectionGroup name="neptuo.web.framework">
      <section name="components" type="Neptuo.Web.Framework.Configuration.ComponentsSection, Neptuo.Web.Framework.Implementation" />
      <section name="codeDom" type="Neptuo.Web.Framework.Configuration.CodeDomSection, Neptuo.Web.Framework.Implementation" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

  <neptuo.web.framework>
    <components>
      <namespaces>
        <add prefix="h" namespace="Neptuo.Web.Framework.Controls" />
        <add namespace="Neptuo.Web.Framework.Extensions" />
        <add prefix="ui" namespace="Neptuo.Web.Framework.Composition, Neptuo.Web.Framework.Composition" />
        <add prefix="ui" namespace="Neptuo.Web.Framework.Mvc.Controls, Neptuo.Web.Framework.Mvc" />
        <add prefix="ui" namespace="Neptuo.Web.Framework.Mvc.Extensions, Neptuo.Web.Framework.Mvc" />
      </namespaces>
      <observers>
        <add prefix="ui" name="visible" type="Neptuo.Web.Framework.Observers.VisibleObserver, Neptuo.Web.Framework.Implementation" />
        <add prefix="html" type="Neptuo.Web.Framework.Observers.HtmlAttributeObserver, Neptuo.Web.Framework.Implementation" />
        <add prefix="val" type="Neptuo.Web.Framework.Observers.ValidationObserver, Neptuo.Web.Framework.Implementation" />
        <add prefix="cache" type="Neptuo.Web.Framework.Observers.CacheObserver, Neptuo.Web.Framework.Implementation" />
        <!--<add prefix="data" name="DataContext" type="Neptuo.Web.Framework.Observers.DataContextObserver, Neptuo.Web.Framework.Implementation" />-->
        <add prefix="data" name="DataContext" type="Neptuo.Web.Framework.Mvc.Observers.DataContextObserver, Neptuo.Web.Framework.Mvc" />
      </observers>
    </components>
    <codeDom debugMode="false" tempDirectory="C:\Temp\NeptuoFramework">
      <bin>
        <add path="C:\Users\Mara\Projects\Neptuo.Web.Framework\TestWebMvc\bin" />
        <add path="C:\Program Files (x86)\Microsoft ASP.NET\ASP.NET MVC 3\Assemblies" />
      </bin>
    </codeDom>
  </neptuo.web.framework>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
